@page "/instructors/create"
@using WebUI.Shared.Instructors.Commands.CreateInstructor
@inject InstructorService InstructorService

<h1>Create</h1>

<h4>Instructor</h4>
<hr />

<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a href="/instructors">Back to List</a>
</div>

@code {

    CreateInstructorCommand createInstructorCommand = new CreateInstructorCommand() { HireDate = DateTime.UtcNow.Date };

    private async Task FormSubmitted()
    {
        //await InstructorService.CreateAsync(createInstructorCommand);
    }
}
