@page "/instructors/create"
@using WebUI.Shared.Instructors.Commands.CreateInstructor
@inject InstructorService InstructorService

<h3>InstructorCreate</h3>

<div>
    <a href="/instructors">Back to List</a>
</div>

@code {

    CreateInstructorCommand createInstructorCommand = new CreateInstructorCommand() { HireDate = DateTime.UtcNow.Date };

    private async Task FormSubmitted()
    {
        //await InstructorService.CreateAsync(createInstructorCommand);
    }
}
