@page "/students/create"
@using WebUI.Shared.Students.Commands.CreateStudent
@inject StudentService StudentService

<h3>StudentCreate</h3>

<div>
    <a href="/students">Back to List</a>
</div>

@code {

    CreateStudentCommand createStudentCommand = new CreateStudentCommand();

    private async Task FormSubmitted()
    {
        //await StudentService.CreateAsync(createStudentCommand);
    }
}
