@page "/students"
@using WebUI.Shared.Students.Queries.GetStudentsOverview
@inject StudentService StudentService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<h1>Index</h1>

<p>
    <a href="/students/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a>Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (studentsOverview != null)
        {
            @foreach (var student in studentsOverview.Students)
            {
                <tr>
                    <td>
                        @student.LastName
                    </td>
                    <td>
                        @student.FirstName
                    </td>
                    <td>
                        @student.EnrollmentDate.ToShortDateString()
                    </td>
                    <td>
                        <a href=@($"/students/edit/{student.StudentID}")>Edit</a> |
                        <a href=@($"/students/{student.StudentID}")>Details</a> |
                        <a @onclick=@(e => DeleteStudent(student.StudentID, $"{student.FirstName} {student.LastName}"))>Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (studentsOverview != null && studentsOverview.HasPreviousPage)
{
    <button type="button" @onclick="PreviousPage" class="btn btn-link">
        Previous
    </button>
}

@if (studentsOverview != null && studentsOverview.HasNextPage)
{
    <button type="button" @onclick="NextPage" class="btn btn-link">
        Next
    </button>
}

@code {

    private StudentsOverviewVM studentsOverview;

    protected override async Task OnInitializedAsync()
    {
        studentsOverview = await StudentService.GetAllAsync();
    }

    private async Task DeleteStudent(int studentId, string name)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the student '{name}'?"))
            return;

        var result = await StudentService.DeleteAsync(studentId.ToString());

        if (result.IsSuccessStatusCode)
        {
            studentsOverview = await StudentService.GetAllAsync();
        }
    }

    private async Task NextPage()
    {

    }

    private async Task PreviousPage()
    {

    }
}
