@page "/students/create"
@using WebUI.Shared.Students.Commands.CreateStudent
@inject StudentService StudentService

<h1>Create</h1>

<h4>Student</h4>
<hr />

<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a href="/students">Back to List</a>
</div>

@code {

    CreateStudentCommand createStudentCommand = new CreateStudentCommand();

    private async Task FormSubmitted()
    {
        //await StudentService.CreateAsync(createStudentCommand);
    }
}
