@page "/courses/create"
@using WebUI.Shared.Courses.Commands.CreateCourse
@inject CourseService CourseService

<h1>Create</h1>

<h4>Course</h4>
<hr />

<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a href="/courses">Back to List</a>
</div>

@code {

    CreateCourseCommand createCourseCommand = new CreateCourseCommand();

    private async Task FormSubmitted()
    {
        //await CourseService.CreateAsync(createCourseCommand);
    }
}
