@page "/courses"
@using WebUI.Shared.Courses.Queries.GetCoursesOverview
@inject CourseService CourseService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<h2>Courses</h2>

<p>
    <a href="/courses/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th>
                DepartmentName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (coursesOverview != null)
        {
            @foreach (var item in coursesOverview.Courses)
            {
                <tr>
                    <td>
                        @item.CourseID
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Credits
                    </td>
                    <td>
                        @item.DepartmentName
                    </td>
                    <td>
                        <a href=@($"/courses/edit/{item.CourseID}")>Edit</a> |
                        <a href=@($"/courses/{item.CourseID}")>Details</a> |
                        <a @onclick=@(e => DeleteCourse(item.CourseID, item.Title))>Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    private CoursesOverviewVM coursesOverview;

    protected override async Task OnInitializedAsync()
    {
        coursesOverview = await CourseService.GetAllAsync();
    }

    private async Task DeleteCourse(int courseId, string title)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the course '{title}'?"))
            return;

        var result = await CourseService.DeleteAsync(courseId.ToString());

        if (result.IsSuccessStatusCode)
        {
            coursesOverview = await CourseService.GetAllAsync();
        }
    }
}
