@page "/courses/create"
@using WebUI.Shared.Courses.Commands.CreateCourse
@inject CourseService CourseService

<h3>CourseCreate</h3>

<div>
    <a href="/courses">Back to List</a>
</div>

@code {

    CreateCourseCommand createCourseCommand = new CreateCourseCommand();

    private async Task FormSubmitted()
    {
        //await CourseService.CreateAsync(createCourseCommand);
    }
}
