@page "/departments"
@using WebUI.Shared.Departments.Queries.GetDepartmentsOverview
@inject DepartmentService DepartmentService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<h2>Departments</h2>

<p>
    <a href="/departments/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                StartDate
            </th>
            <th>
                AdministratorName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (departmentsOverview != null)
        {
            @foreach (var item in departmentsOverview?.Departments)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Budget.ToString("F")
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.AdministratorName
                    </td>
                    <td>
                        <a href=@($"/departments/edit/{item.DepartmentID}")>Edit</a> |
                        <a href=@($"/departments/{item.DepartmentID}")>Details</a> |
                        <a @onclick=@(e => DeleteDepartment(item.DepartmentID, item.Name))>Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    private DepartmentsOverviewVM departmentsOverview;

    protected override async Task OnInitializedAsync()
    {
        departmentsOverview = await DepartmentService.GetAllAsync();
    }

    private async Task DeleteDepartment(int departmentId, string departmentName)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the department '{departmentName}'?"))
            return;

        var result = await DepartmentService.DeleteAsync(departmentId.ToString());

        if (result.IsSuccessStatusCode)
        {
            departmentsOverview = await DepartmentService.GetAllAsync();
        }
    }
}
