@page "/departments/edit/{id}"
@using WebUI.Shared.Instructors.Queries.GetInstructorsLookup
@inject DepartmentService DepartmentService
@inject InstructorService InstructorService
@inject NavigationManager NavManager

<h3>DepartmentEdit</h3>

<div>
    <a href="/departments">Back to List</a>
</div>

@code {

    [Parameter]
    public string id { get; set; }

    private InstructorsLookupVM instructorsLookup;

    protected override async Task OnInitializedAsync()
    {


        instructorsLookup = await InstructorService.GetLookupAsync();
        //createDepartmentCommand.InstructorID = instructorsLookup.Instructors.First().ID;
    }

    private async Task FormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();

        if (formIsValid)
        {
            //var result = await DepartmentService.UpdateAsync(createDepartmentCommand);

            //if (result.IsSuccessStatusCode)
            //{
            //    NavManager.NavigateTo("/departments");
            //}
        }
    }
}
